@use 'index' as s;

.slip {
    align-items: center;
    background-color: s.$clr-dark-grayish-blue;
    border-radius: s.pxToRem(10);
    display: flex;
    flex-direction: column;
    max-width: s.pxToRem(344);
    padding: s.pxToRem(40) s.pxToRem(20) s.pxToRem(36) s.pxToRem(20);
    position: relative;
    text-align: center;
}

.slip__number {
    color: s.$clr-neon-green;
    font-size: s.$fs-slip-number;
    letter-spacing: s.pxToRem(3);
    margin: 0 0 s.pxToRem(22) 0;
    text-transform: uppercase;
}


.slip__advice-text {
    color: s.$clr-light-cyan;
    font-size: s.$fs-slip-text;
    margin-bottom: 70px;
}

.slip__advice-text::after {
    background-image: url("/images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    content: "";
    position: absolute;
    left: 0;
    bottom: 65px;
    width: 100%;
    height: 16px;
}

.btn-round {
    background-color: s.$clr-neon-green;
	border: none;
	border-radius: 9999px;
    bottom: -31px;
	cursor: pointer;
	display: block;
    padding: s.pxToRem(31);
    position: absolute;
}

.btn-round::after {
    background: url("/images/icon-dice.svg");
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    height: 24px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 19px;
}

.btn-round:hover {
    box-shadow: 0 0 15px 15px hsla(150, 100%, 66%, .2);
}
