// variables

// colors
$clr-white: hsl(0, 0%, 100%);
$clr-light-cyan: hsl(193, 38%, 86%);
$clr-neon-green: hsl(150, 100%, 66%);
$clr-grayish-blue: hsl(217, 19%, 38%);
$clr-dark-grayish-blue: hsl(217, 19%, 24%);
$clr-dark-blue: hsl(218, 23%, 16%);

// font-family
$ff-default: 'Manrope', sans-serif;

// font-weight
$fw-default: 800;

// font-size
$fs-default: 16px;
$fs-slip-number: 12px;
$fs-slip-text: 24px;